[Unit]
Description=HMI Presence Detection Service
After=default.target

[Service]
ExecStart=/etc/init.d/presence_detection.sh start
ExecStop=/etc/init.d/presence_detection.sh stop
WorkingDirectory=/home/pi/RadarSDK
Restart=always
RestartSec=10s
User=pi

[Install]
WantedBy=default.target
